@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles using the defined colors */
.bg-light-primary {
    background-color: theme('colors.light-primary');
}

.bg-light-primary-hover:hover {
    background-color: theme('colors.light-accent');
}

.bg-light-secondary {
    background-color: theme('colors.light-secondary');
}

.bg-light-secondary-hover:hover {
    background-color: theme('colors.light-accent');
}

.text-light-text {
    color: theme('colors.light-text');
}

.bg-light-accent {
    background-color: theme('colors.light-accent');
}

/* Dark mode styles */
.dark .bg-dark-primary {
    background-color: theme('colors.dark-primary');
}

.dark .bg-dark-primary-hover:hover {
    background-color: theme('colors.dark-accent');
}

.dark .bg-dark-secondary {
    background-color: theme('colors.dark-secondary');
}

.dark .bg-dark-secondary-hover:hover {
    background-color: theme('colors.dark-accent');
}

.dark .text-dark-text {
    color: theme('colors.dark-text');
}

.dark .bg-dark-accent {
    background-color: theme('colors.dark-accent');
}

/* Custom link styles for light theme */
.link-light {
    color: theme('colors.link');
}

.link-light:hover {
    color: theme('colors.link-hover');
}

/* Custom link styles for dark theme */
.dark .link-dark {
    color: theme('colors.link');
}

.dark .link-dark:hover {
    color: theme('colors.link-hover');
}

/* Custom button styles for light theme */
.category-button-light {
    @apply px-4 py-2 rounded-full text-sm font-medium transition-colors duration-300;
    background-color: theme('colors.light-secondary');
    color: theme('colors.light-text');
}

.category-button-light:hover {
    background-color: theme('colors.light-primary');
}

.category-button-light-selected {
    background-color: theme('colors.light-accent');
    color: theme('colors.white');
}

/* Custom button styles for dark theme */
.dark .category-button-dark {
    @apply px-4 py-2 rounded-full text-sm font-medium transition-colors duration-300;
    background-color: theme('colors.dark-secondary');
    color: theme('colors.dark-text');
}

.dark .category-button-dark:hover {
    background-color: theme('colors.dark-primary');
}

.dark .category-button-dark-selected {
    background-color: theme('colors.dark-accent');
    color: theme('colors.white');
}

/* Light theme styles */
.prose h2,
.prose h3,
.prose p,
.prose ul,
.prose ol,
.prose strong {
    color: theme('colors.light-text');
    /* Replace with your light theme text color */
}

/* Dark theme styles */
.dark .prose h2,
.dark .prose h3,
.dark .prose p,
.dark .prose ul,
.dark .prose ol,
.dark .prose strong {
    color: theme('colors.dark-text');
    /* Replace with your dark theme text color */
}

/* Additional styles for lists if needed */
.prose ul {
    list-style-type: disc;
    /* Or any other style you prefer */
}

.prose ol {
    list-style-type: decimal;
    /* Or any other style you prefer */
}